* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#wrapper {
  width: 100%;
  height: 100vh;
  margin: 1rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
  border-radius: 50%;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav-items ul a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-items ul li {
  list-style-type: none;
}
#res-container,
#shimmer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#res-card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.shimmer-cards {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
#res-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
#res-card {
  text-decoration: none;
}
.rating {
  color: rgb(130, 119, 22);
}
.rating-delivery-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: coral;
}
.cuisine {
  font-style: italic;
  font-weight: 500;
}
#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#filter button {
  background-color: red;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  color: antiquewhite;
  font-weight: bold;
}
#filter #search-container {
  display: flex;
  gap: 0.7rem;
}
#filter #search-container input {
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 4px;
}
#filter #search-container input::placeholder {
  color: gray;
  font-weight: 500;
}
#search-container button {
  background-color: red;
}
.shimmer-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#shimmer-img {
  width: 100%;
  height: 180px;
  background-color: rgb(230, 230, 230);
}
#shimmer-res-name,
.shimmer-delivery-time,
.shimmer-cuisine {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 20px;
}
.shimmer-cards i {
  color: rgb(230, 230, 230);
}

.login {
  padding: 5px 15px;
  font-weight: bold;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  cursor: pointer;
}
.login:hover,
#filter button:hover {
  background-color: rgb(240, 1, 1);
}

#user-card {
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}
